li.list-item {
  color: red;
  }
  .list-item {
  color: blue
  }
  #list .list-item {
  color: green
  }
  ul li {
  color: black;
  }
  (a) red
  (b) blue
  {(c) green <--- resposta certa}
  (d) black
  